body {
	margin: 0;
}

.Main {
	width: 100vw;
	height: 100vh;
	text-align: center;
	
	top: 0px;
	background: black;
	color: white;
}

ul li {
	list-style-type: none;
	display: inline;
	margin-left: 10px;
}

a {
	color : black;
	text-decoration: none;
}

#Banner{
	position: fixed;
	background: rgba(153, 153, 153, 0.5);
	top: 0px;
	width: 100vw;
	z-index: 99;
}